/* core.css styles the general page layout and manages the inclusion of additional css files
    ========================================================================== */
    @import url("header.css");
    @import url("list.css");
    @import url("table.css"); 
    @import url("media.css");
    @import url("font.css");
    @import url("article.css");

    /* Color CSS, uncomment if desired for debugging
        ========================================================================== */
    /*@import url("debug-color.css");/
        
    /* Generic Elements 
        ========================================================================== */
    img{display:block;}
    em{font-style: italic;}
    strong{font-weight:bold;}
    hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
    code{color:#0B8C8F;}
    .important a{font-weight:bold;}

    a {color: blue; text-decoration: none}
    a:focus, a:hover {text-decoration:underline;}
    a:focus{background-color: khaki;}
    a:visited {color:saddlebrown}

    cite{display:block; text-align:right; padding-top: 10px;}

    .callout{font-size:189%;color:#999999; font-style:italic;}
    .callout cite{display:block; text-align:right;padding-top: 30px; font-size:69.25%;}
    .callout span.quot{font-size: 500%; vertical-align: sub; color:#e2e2e2; line-height:25px; font-weight:bold;}
    .callout span.quotLast{vertical-align:middle;}
    .detail{color: #777; font-size:11px;display:block;}

    .icon{margin-right: 5px;}

    /* Core Structure (margin and padding for body, header, main, aside, footer, section, article) 
   ========================================================================== */

    main {display:inline-block; width: 73%; margin: 0 0 0 1%; border-right: thin dotted black; padding: 0 0 0 0;}
    aside {display:inline-block; width: 22%; float:right;}

    body > header {margin: 0% 0% 2% 0%; }
    body > header > h1  {margin: 0% 0% 0% 2%; }
    body > header > nav  > ul {margin:0% 0% 0% 0%; }

    main { margin: 0% 1% 1% 1% ;  padding: 1% 1% 1% 1%; }
    main p { margin: 0% 0% 1% 1% ;  padding: 0% 0% 0% 0%; }

    section { margin: 0% 0% 1% 1% ;  padding: 0% 0% 0% 0%; }
    section > header { margin: 0% 0% 0% 0% ;  padding: 0% 0% 0% 0%; }
    section > header > h1 { margin: 0% 0% 0% 0% ;  padding: 0% 0% 0% 0%; }
    section > header > nav { margin: 0% 0% 0% 0% ;  padding: 0% 0% 0% 0%; }
    section > header > nav > ul { margin: 0% 0% 0% 0% ;  padding: 0% 0% 0% 0%; }
    section  > table { margin: 1% 0% 0% 1% ;  padding: 0% 0% 1% 0%; }

    article > header  {margin-left:1%; }
    article > * { margin: 0% 0% 0% 1% ;  padding: 0% 0% 0.5% 0%; }

    aside header {margin: 0 0 0 0; padding: 0 0 0 0; }
    aside header h1 {margin: 0 0 0 0; padding: 0 0 0 0; }
    aside header nav {margin: 0 0 0 0; padding: 0 0 0 0; }
    aside header nav ul {margin: 0 0 0 0; padding: 0 0 0 0; }
    aside ul.asidelist {margin: 1% 0 0 0%; padding: 0 0 0 0; list-style-type: none;}
    aside ul.asidelist li {margin: 0 0 0 1%; padding: 0 0 0 0;}

    body > footer  > *  {margin-left:2%; margin-top: 0; }
    body > footer > h1  {margin-bottom:0%; }
    body > footer > nav  > ul {margin-top:0%; }
