/* heading.css centralizes all heading and navigation styles
========================================================================== */
body > header > h1 {font-size:500%; font-weight:normal; font-style: normal; color:navy;}
body > header > h2 {font-size:146%; font-weight:normal; font-style: normal; color:midnightblue;}
body > header > h3 {font-size:122%; font-weight:normal; font-style: normal; color:darkslateblue;}
body > header > h4 {font-size:108%; font-weight:normal; font-style: normal; color: darkslateblue;}
body > header > h5 {font-size:100%; font-weight:bold; font-style: normal; color:darkslateblue;}
body > header > h6 {font-size:100%; font-weight:normal; font-style: normal; color:darkslateblue;}

main > section h1 {font-size:146%; font-weight:normal; font-style: normal; color:darkslateblue;}
main > section h2 {font-size:122%; font-weight:normal; font-style: normal; color:darkslateblue;}
main > section h3 {font-size:108%; font-weight:normal; font-style: normal; color:darkslateblue;}
main > section h4 {font-size:100%; font-weight:normal; font-style: normal; color: darkslateblue;}
main > section h5 {font-size:100%; font-weight:bold; font-style: normal; color:darkslateblue;}
main > section h6 {font-size:100%; font-weight:normal; font-style: normal; color:darkslateblue;}

aside > header > h1 {font-size:196%; font-weight:normal; font-style: normal; color:darkslateblue;}
aside > header > h2 {font-size:122%; font-weight:normal; font-style: normal; color:darkslateblue;}
aside > header > h3 {font-size:108%; font-weight:normal; font-style: normal; color:darkslateblue;}
aside > header > h4 {font-size:100%; font-weight:normal; font-style: normal; color: darkslateblue;}
aside > header > h5 {font-size:100%; font-weight:bold; font-style: normal; color:darkslateblue;}
aside > header > h6 {font-size:100%; font-weight:normal; font-style: normal; color:darkslateblue;}

article h1 {font-size:146%; font-weight:normal; font-style: normal; color:darkslateblue;}
article h2 {font-size:122%; font-weight:normal; font-style: normal; color:darkslateblue;}
article h3 {font-size:108%; font-weight:normal; font-style: normal; color:darkslateblue;}
article h4 {font-size:100%; font-weight:normal; font-style: normal; color: darkslateblue;}
article h5 {font-size:100%; font-weight:bold; font-style: normal; color:darkslateblue;}
article h6 {font-size:100%; font-weight:normal; font-style: normal; color:darkslateblue;}

