/* list.css styles the HTML <ul> and <ol> elements 
  ========================================================================== */
	 
  body > header > nav > ul.navlist li 
  {
    display: inline;
    margin-right: 1em;
  }
  
  aside > header > nav > ul.navlist li 
  {
    display: inline;
    margin-right: 1em;
    font-size: 90%; 
  }
        
  aside ul.asidelist
  {
    font-size: 90%; 
  }
  