/* list-para-nav.css styles the HTML <p>, <nav>, <ul>, and <ol> elements 
  ========================================================================== */

body > header > nav  > ul {margin:0% 0% 0% 2%; padding: 0% 0% 0.8% 1%; line-height: 1.2em; }
body > header > nav > ul.navlist li {display: inline; margin-right: 1em; }

body > header p {margin: 0% 0% 0% 2%; padding: 0% 0% 0% 1%; line-height: 1.2em; }
body > header > h1 + p {margin: 0% 0% 0% 2%; padding: 0% 0% 0.5% 1%; }
body > header > h2 + p {margin: 0% 0% 0% 3%; padding: 0% 0% 0.5% 1%; }

body > main ul {margin: 0% 0% 0% 3%; padding: 0% 0% 0.5% 0%;  list-style-type: none;}
body > main ul li {margin: 0% 0% 0% 1%; padding: 0% 0% 0.5% 0%; line-height: 1.2em;}

body > main p { margin: 0% 0% 0% 0% ;  padding: 0% 0% 0% 0%; line-height: 1.4em;}
body > main > h1 + p { margin: 0% 0% 0% 2% ;  padding: 0% 0% 0.5% 1%; }
body > main > h2 + p { margin: 0% 0% 0% 3% ;  padding: 0% 0% 0.5% 1%; }

body > aside header nav {margin: 0 0 0 0; padding: 0 0 0 0; }
body > aside header nav ul {margin: 0 0 0 0; padding: 0 0 0 0; }

body > aside ul {margin: 0% 1% 0% 0%; padding: 0% 0% 0.5% 0%; list-style-type: none;}
body > aside ul li {margin: 0% 4% 0% 2%; padding: 0% 0% 0.5% 0%; line-height: 1.2em;}

body > aside > h1 + p { margin: 0% 1% 0% 0% ;  padding: 0% 0% 0% 0%; }
body > aside > h2 + p { margin: 0% 4% 0% 2% ;  padding: 0% 0% 0.5% 0%; line-height: 1.2em;}

aside > header > nav > ul.navlist li {display: inline; margin-right: 1em; font-size: 90%; }

